.topbar {
    background: #f9f9f9;
}
.push-right {
    margin-right: 20px;
}
.glyphicon {margin-top: -1px; top:0px;}
.datepicker{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.mover {
    font-size: larger;
}